/*----------------------------------------------

    Developed by Octavian Mos 2016
    octavianhd@gmail.com

-----------------------------------------------*/
/*----------------------------------------------

    Table of content:

    #Main;
    #Header;
    #Top Nav;
    #Intro;
    #About section;
    #Team section;
    #Map section;
    #Footer;
    #Scroll Up;
    #Responsive.
-----------------------------------------------*/

/*---------------------------Main-----------------------------*/

*{
	box-sizing: border-box;
}
body{
	font-family: verdana,sans-serif;
	font-size: medium;
	margin: 0;
}
p{
	text-indent: 20px;
}
ul{
	padding: 0;
	margin-bottom: 0;
	list-style-type: none;
}
a,button {
	transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-webkit-transition: 0.4s ease-in-out;
}
a:hover,a:focus{
	text-decoration: none;
}


/*-------------------Header-----------------------------*/

header{
	color: #888888;
}

/*------------------------------Top Nav----------------------------*/

.navi ul{
	padding: 50px 0;
}
.navi li{
	padding: 20px 15px;
}
.navi li a{
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #888888;
	text-decoration: none;
}
.navi li a:hover{
	color: #666666;
}
.navi li:last-of-type{
	padding-right: 200px;
}
.signin-btn{
	padding: 5px 20px;
	font-size: 14px;
	font-weight: 500;
	background-color: #33cbe5;
	text-transform: uppercase;
	color: #fff;
	border-radius: 40px;
}
.signin-btn:hover{
	background-color: #1ab2cc;
	box-shadow: 2px 2px 4px #888888, 1px 1px 2px #000;
}
.logo{
	padding-left: 20%;
	font-weight: 600;
}

/*-------------------Intro------------------------------*/

#intro{
	width: 100%;
	height: 650px;
	background-image: url(../pics/mission-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: sans-serif;
	text-align: center;
	color: #fff;
}
#intro h2{
	font-size: 44px;
	font-weight: 500;
	padding-top: 400px;
}

/*--------------------------------About section-------------------------*/

#about{
	margin: 40px 0;
	text-align: center;
}
#about h2{
	color: #33cbe5;
	font-weight: 600;
}

/*-------------------------------Team section------------------------*/

#team{
	display: -webkit-flex;
	display: flex;
	width: 100%;
	padding: 20px 0;
	background-color: #33cbe5;
	text-align: center;
}
#team h2{
	color: #fff;
	font-weight: 600;
}
#team p{
	color: #fff;
}
#team p > span{
	padding-top: 0;
	color: #e8f9fc;
	font-size: 14px;
}
#team img{
	border-radius: 50%;
}
.team-div{
	position: relative;
	/*float: left;*/
	padding: 20px 40px;
	text-align: center;
}
/*#team .container:nth-of-type(1){
	padding-left: 20%;
}*/
.team-btn{
	margin: 50px 0;
	padding: 5px 20px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 40px;
	color: #fff;
	font-weight: 600;
}
.team-btn:hover{
	background-color: #1ab2cc;
	box-shadow: 1px 1px 2px #000;
	color: #fff;
}
/*--------------------------------Map section---------------------*/

#map{
	width: 100%;
	height: 650px;
	background-image: url(../pics/5Map.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

/*-------------------------------Footer-------------------------------*/

footer {
	padding: 20px 0;
	background-color: #737373;
}
footer p{
	color: #b3b3b3;
	text-align: right;
	margin-right: 10%;
	font-size: 12px;
}
footer p a{
	color: #b3b3b3;
}
footer p a:hover{
	color: #8dd8cb;
}
.navi-footer ul{
	padding: 0;
}
.navi-footer li{
	padding: 5px 20px;
}
.navi-footer ul li:nth-of-type(1){
	margin-left: 100px;
}
.navi-footer li a{
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}
.navi-footer li a:hover{
	color: #A8E1D7;
}

.social ul li {
	padding: 5px 10px;
	border: 1px solid #fff;
	border-radius: 20px;
}
.social ul li:nth-of-type(3){
	margin-right: 100px;
}
.social ul li:nth-of-type(2){
	padding: 5px 14px;
}
.social ul li a {
	font-size: 20px;
	color: #fff;
}
.social ul li a:hover {
	color: #8dd8cb;
}
.separator{
	width: 80%;
	height: 1px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #b3b3b3;
	display: inline-block;
}

/*-----------------------Scroll Up------------------------*/
#scrollUp {
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	background: url(../pics/top.png) no-repeat;
	opacity: .5;
}
#scrollUp:hover {
	opacity: 1;
}

/*-------------------------Responsive------------------------*/

@media screen and (max-width: 992px){
	#map{
		width: 100%;
		height: 250px;
		background-size: cover;
	}
}
@media screen and (max-width: 768px){
	
	#top-nav{
		text-align: center;
	}
	.navi ul{
		padding: 10px 0;
	}
	.navi li{
		padding: 0 10px;
	}
	.navi li a{
		font-size: 12px;
		font-weight: 400;
	}
	.navi li:last-of-type{
		padding-right: 0;
	}
	.logo{
		font-size: 16px;
		font-weight: 400;
	}
	.signin-btn{
		margin-bottom: 10px;
		padding: 5px 20px;
		font-size: 12px;
		font-weight: 400;
		border-radius: 40px;
	}
	#intro{
		height: 350px;
	}
	#intro h2{
		font-size: 28px;
		font-weight: 400;
		padding-top: 100px;
	}
	#intro, #about, #team, #footer{
		font-size: 12px;
		display: flex;
	}
	.team-div{
		padding: 10px 20px;
	}
	/*#team .container:nth-of-type(1){
		padding-left: 0;
	}*/
	#map{
		width: 100%;
		height: 150px;
		background-size: cover;
	}
	footer{
		padding: 0;
	}
	footer p{
		text-align: center;
		font-size: 10px;
	}
	.navi-footer li{
		padding: 5px 10px;
		text-align: center;
	}
	.navi-footer li a{
		font-size: 12px;
	}
	.navi-footer ul li:nth-of-type(1){
		margin-left: 0;
	}	
}